{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>可选论文 | 论文管理系统</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        nav.navbar{
            background-color: #003863;
        }
        a.navbar-brand {
            color: aliceblue!important;
        }
        h3.title-head {
            float: right;
            display: inline-block;
            margin-top: 15px;
        }
        div.nav-user_info {
            padding: 15px;
            color:#f0f8ff;
        }
        div.user-info > p{
            border-bottom: 1px solid #ddd;
        }
        .sidebar {
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
            height: 550px;
        }
        ul.nav-stacked > li {
            padding-bottom: 10px;
        }
        /* 页面底部样式 */
        .footer{
            border-top:2px solid #003863;
            margin-top:10px!important;
            margin-bottom:0;
            /*position: absolute;*/
            bottom: 0;
            width: 100%;
        }

        .foot_link{text-align:center;margin-top:30px;}
        .foot_link a,.foot_link span{color:#4e4e4e;}
        .foot_link a:hover{color:#ff8800}
        .foot_link span{padding:0 10px}
        .footer p{text-align:center; margin-top:10px;}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <div class="nav-user_info">{{ username }},欢迎您 &nbsp;|&nbsp;&nbsp;
                        <a href="{% url 'logout' %}" class="nav-logout" style="color: #f0f8ff;">退出系统</a>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <img src="{% static 'index/img/bar-slogan.png' %}" alt="" style="margin-top: 5px;">
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <img src="{% static 'index/img/Logo.png' %}">
                <h3 class="title-head">电工系论文管理系统<small> | 学生端</small></h3>
            </div>
        </div>

        <ol class="breadcrumb" style="margin-top: 10px;">
            <li><a href="{% url 'student_index' %}">Home</a></li>
            <li class="active">可选论文</li>
        </ol>

        <div class="row">
            <!--侧边导航-->
            <div class="col-md-3 col-xs-3">
                <div class="sidebar">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="{% url 'student_index' %}">主页</a></li>
                        <li role="presentation" class="active"><a href="#">可选论文</a></li>
                        <li role="presentation"><a href="upload.html">在线提交</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9 col-xs-9">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>提示：</strong> 题目确认选择后不可更改。
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="display: inline-block">可选论文课题</h3>
                        <span style="float: right"><span class="glyphicon glyphicon-time"></span> 截止日期:2018/9/10</span>
                    </div>
                    <div class="panel-body">
                        <!--context-->
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h4>题目 遍历context</h4>

                                <p>备注: 3/5人</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm" style="position: absolute;right: 10px;top: 30% ">选择</button>
                            </li>

                            <li class="list-group-item">
                                <h4>题目</h4>
                                备注：5/5人
                                <a class="btn btn-info" href="#" role="button" disabled="disabled" style="position: absolute;right: 10px;top: 30% ">选择</a>
                            </li>
                            <li class="list-group-item">
                                <h4>题目</h4>
                                备注：
                                <a class="btn btn-info" href="#" role="button" style="position: absolute;right: 10px;top: 30% ">选择</a>
                            </li>
                            <li class="list-group-item">
                                <h4>题目</h4>
                                备注：
                                <a class="btn btn-info" href="#" role="button" style="position: absolute;right: 10px;top: 30% ">选择</a>
                            </li>
                            <li class="list-group-item">
                                <h4>题目</h4>
                                备注：
                            </li>
                            <li class="list-group-item">
                                <h4>题目</h4>
                                备注：
                            </li>
                            <li class="list-group-item">
                                <h4>题目</h4>
                                备注：
                            </li>
                            <li class="list-group-item">
                                <h4>题目</h4>
                                备注：
                            </li>
                        </ul>
                        <!--弹出框-->
                        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">提示</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>确认选择后无法更改!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <!--提交get过去-->
                                        <a href="#" type="button" class="btn btn-primary">确认</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                    </div>
                                </div><!--.modal-content-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="foot_link">
        <a href="#">学校首页</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">教务系统</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p style="color:crimson;">如有任何问题请联系管理员 zwz2650744@gmail.com</p>
    <p>CopyRight © 2018 智能科技创新协会 All Rights Reserved</p>
</div>
</body>
</html>